* {
    margin: 0;
    /* border: solid 1px grey; */
}

body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
}
#container{
        height:100%;
        margin:auto;
        /* height: 100vh;*/
        max-width: 1000px; 
                }
header{
    height: 25vh;
    text-align: center;
    
    background: #ffffff url("images/banner-lion.jpg") no-repeat;
    background-size: cover;

}
header h1{
    line-height: 25vh;
    font-size: 3rem;
    color: rgba(255, 217, 0, 0.6)
}

header nav{
margin-top: -3vh;
}

header nav a{
    font-size: larger;
    padding-left: 1rem;
    text-decoration: none;
    color:#fff;
    }

header nav a:hover{
    color: grey;
}

main{
    
    height: 50vh;
    /* float:left; */
    display: inline-block;
    width: 69%;
    /* left:10vw; */
    background-color: rgba(255, 217, 0, 0.5);
}

img:hover {
    /* opacity: 0.3; */
    filter:drop-shadow(16px 16px 20px blue);
    filter:grayscale(80%);
}

@media (max-width:380px){
    header{
        height:40px;
        background: #e8ad2d;

    }

    header nav

    header nav{
        display: none;
    }
    
    aside{
        display: none;
    }

}

p {
    line-height: 1.5rem;
}
aside{

    float: right;
    height: 50vh;
    width: 30%;
    
    background-color: palegreen;
}

footer{
    width:100%;

    /* clear:both; */
    height: 25vh;
    background-color: blueviolet;
}