* {
    margin: 0;
    /* border: solid 1px grey; */
}

body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
}
#container{
        height:100%;
        margin:auto;
        /* height: 100vh;*/
        max-width: 1000px; 
                }
header{
    height: 25vh;
    
    background: #ffffff url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Aert_van_der_neer-paisaje-mnavarra.jpg/800px-Aert_van_der_neer-paisaje-mnavarra.jpg") no-repeat;
    background-size: cover;

}


main{
    
    height: 50vh;
    /* float:left; */
    display: inline-block;
    width: 69%;
    /* left:10vw; */
    background-color: rgba(255,0,0,0.5);
}


p {
    line-height: 1.5rem;
}
aside{

    float: right;
    height: 50vh;
    width: 30%;
    
    background-color: palegreen;
}

footer{
    width:100%;

    /* clear:both; */
    height: 25vh;
    background-color: blueviolet;
}